.places{
    display: flex;
    padding: 20px 20px;
}
.places input{
    width: 2rem;
    height: 2rem;
}
.places input:disabled::before{
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
    content: "";
    background: red;
}
.myDate{
    margin: 20px 0px;
}
.films{
    max-height: 20rem;
    padding-bottom: 20px;
}
.films [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
 
.films [type=radio] + img {
    cursor: pointer;
  }
  

.films [type=radio]:checked + img {
    outline: 2px solid #f00;
  }

.film img{
    max-height: 20rem;
}
.time label{
    border: 2px solid black;
    cursor: pointer;
}
.time [type=radio]:checked {
    background-color: pink;
}
.places{
    /* display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end; */
}
.dates{
    display: flex;
}
